/* Python.css */
.conteudo-pages {
  max-width: 800px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 100px;
  margin-left: 35px;
  text-align: justify;
  position: relative; /* Mantido para possibilitar posicionamento relativo de elementos */
  
}
.code-block {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  white-space: pre-wrap; /* Preserva a formatação */
  font-family: monospace;
}
