body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0004ff;
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #0004ff;
}

p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.8;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

strong {
  color: #007BFF;
}
